<%- include('partial/header', { currentPage: 'volunteer', title: 'Join us! | Kilometros de Vida' }) %>

    <header class="headersOfPages text-center my-4">
      <h1>Register for Volunteering</h1>
      <div class="quote">
        Tú puedes cerrar la brecha entre la abundancia y la necesidad.
      </div>
    </header>
    <main class="container mb-5">
      <!-- Student Volunteer Form -->
      <%- include('partial/form-driver') %>

      <hr class="my-5" />

      <!-- Restaurant/Hotel Donation Form -->
      <%- include('partial/form-giver') %>
    </main>

<%- include('partial/bottom') %>
